@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> Image Analysis web app created using Azure Cognitive Services.</p>
<h6>Created by Dev Marlecha And Aaryan Shah</h6>
<h6>Contact us - devmarlecha4@gmail.com </h6>
<h6> aaryan.shah083@nmims.edu.in</h6>
